* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #f0f4f8, #d9e2ec); /* soft gradient background */
  color: #333;
  line-height: 1.6;
}


header {
  background-color: #1e90ff;
  color: white;
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


.hero {
  text-align: center;
  background-color: #87cefa;
  padding: 60px 20px;
  color: white;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


.section {
  padding: 40px 20px;
  background-color: #ffffff;
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.section h2 {
  color: #1e90ff;
  margin-bottom: 15px;
}

.section ul {
  padding-left: 20px;
}

.section li {
  margin-bottom: 8px;
}


.section a {
  color: #1e90ff;
  text-decoration: none;
}

.section a:hover {
  color: #ff6347;
  text-decoration: underline;
}


footer {
  background-color: #1e90ff;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}




body{
  background-image: url('web.jpg');

}